body {
}
.ui-button {
    bottom : 0;
    position: relative;
}
.slider-cell {
    width: 80%;
}
.legend-header {
    font-weight: bold;
}
.menu-legend {
    margin-left: 10px;
}
.score{
    margin-left: 10px;
}
.menu-text {
    font-size: 80%;
}
.marked {
    color:red;
}
